{% extends "base.html" %}



{% block content %}
<h5>Make Payment for : NG {{payment.amount}}</h5>

    <button type="submit" onclick="payWithPaystack()" class="btn btn-secondary " id="paymentForm" >Make payment</button>



<script>
 
function payWithPaystack() {
  var handler = PaystackPop.setup({
    key: "{{ paystack_public_key }}" , 
    email:  "{{ payment.email }}",
    amount: "{{ payment.amount_value }}", // the amount value is multiplied by 100 to convert to the lowest currency unit
    currency: 'NGN', // Use GHS for Ghana Cedis or USD for US Dollars
    ref : "{{ payment.ref }}", // Replace with a reference you generated
    callback: function(response) {
        window.location.href="{% url 'verify-payment' payment.ref %}";
    },
    onClose: function() {
      alert('Transaction was not completed, window closed.');
    },

  });

//   if (Boolean(currency)) {
//             obj.currency = currency.toUpperCase()
//         }
//     if (Boolean(plan) {
//         obj.plan = plan;
//     }

  handler.openIframe();
}    
</script>

<script>
  function makePayment() {
    FlutterwaveCheckout({
      public_key: "{{flutterwave_public_key}}",
      tx_ref: "{{ payment.ref }}",
      amount: "{{ payment.amount }}",
      currency: "NGN",
      country: "NG",
      payment_options: " ",
      customer: {
        email: "{{payment.email}}",
        phone_number: "08102909304",
        name: "Flutterwave Developers",
      },
      callback: function (response) { // specified callback function
        window.location.href="{% url 'verify-payment' payment.ref %}";
        console.log(response);
      },
      customizations: {
        title: "My store",
        description: "Payment for items in cart",
        logo: "https://upload.wikimedia.org/wikipedia/commons/8/84/Apple_Computer_Logo_rainbow.svg",
      },
    });
  }
</script>

{% endblock %}  